<ion-view view-title="Welcome to foressst" class="loginBg" id="login" hide-nav-bar="true">

<!--메인 컨텐츠-->
 <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">

	  <div class="col">

			<!--<div class="app-logo"><img src="img/skhu.jpg"></div>
			<h1 style="text-align:center">foressst</h1>-->
      <h2 style="text-align:center; margin:30px;">성공회대학교</h2>
			<h1 style="text-align:center; margin:25px;" >foressst</h1>


			<div class="list list-inset removePM" style="opacity: 0.8;">
			  <label class="item item-input"><input type="tel" ng-model="user.username" placeholder="Id" > </label>
			  <label class="item item-input"><input type="password" ng-model="user.password" placeholder="Password" > </label>
			</div>

			<div class="loginButton" style="opacity: 0.8;"><button class="button ion-unlocked button-block button-stable" ng-click="login(user);" > Login </button>  </div>

			<p style="TEXT-ALIGN: center; color:black"> forest id와 pw로 로그인 하세요. </p>
      <p style="TEXT-ALIGN: center; color:black"> 최초 1회 로그인시 자동 로그인됩니다. </p>
      <p style="TEXT-ALIGN: center; color:black"> Copyright (c) 2016-2017 SSS All rights reserved. </p>

	  </div>
  </div>

  </ion-content>
</ion-view>
