<ion-view view-title="로그 아웃" hide-back-button="true">
  <ion-content>
    <div class="logoutButton"><button class="button ion-unlocked button-block button-balanced" ng-click="logout(data);" > logout </button>

    <p style="TEXT-ALIGN: center;"> <br> </p>
    <p style="TEXT-ALIGN: center;"> 제7회 it경진대회 은상 수상 </p>
    <p style="TEXT-ALIGN: center;"> ios버전 출시! </p>
    <p style="TEXT-ALIGN: center;"> <br> </p>
    <p style="TEXT-ALIGN: center;"> 건의사항이나 문의사항이 있을시 </p>
    <p style="TEXT-ALIGN: center;"> bghgu@naver.com으로 메일 보내주세요 </p>
    <p style="TEXT-ALIGN: center;"> <br> </p>
    <p style="TEXT-ALIGN: center;"> 개발자 </p>
    <p style="TEXT-ALIGN: center;"> 소프트웨어공학과 201232016 배다슬 </p>
    <p style="TEXT-ALIGN: center;"> 소프트웨어공학과 201534028 추건우 </p>
    <p style="TEXT-ALIGN: center;"> 소프트웨어공학과 201632034 한영빈 </p>
    <p style="TEXT-ALIGN: center;"> <br> </p>
    <p style="TEXT-ALIGN: center;"> thanks to </p>
    <p style="TEXT-ALIGN: center;"> SSS </p>
    <p style="TEXT-ALIGN: center;"> 정보통신공학과 201633036 한나라 </p>
    <p style="TEXT-ALIGN: center;"> 소프트웨어공학과 13대 학생회 늘솜 </p>
    <p style="TEXT-ALIGN: center;"> <br> </p>
    <p style="TEXT-ALIGN: center;"> 2016 SSS summer project </p>
    <div class="app-logo"><img src="img/Dva.jpg"></div>
			<h1 style="text-align:center">project D.va</h1>
  </ion-content>
</ion-view>
