<ion-view view-title="학과별 졸업 요건" hide-back-button="true">

  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/graduation" nav-clear><i class="icon ion-ios-arrow-left"></i></a>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
      <a href="#/app/god" class="item item-icon-left">
        <i class="icon ion-cloud"></i> 신학과
      </a>
      <a href="#/app/english" class="item item-icon-left">
        <i class="icon ion-earth"></i> 영어학과
      </a>
      <a href="#/app/china" class="item item-icon-left">
        <i class="icon ion-earth"></i> 중어중국학과
      </a>
      <a href="#/app/japan" class="item item-icon-left">
        <i class="icon ion-earth"></i> 일어일본학과
      </a>
      <a href="#/app/welfare" class="item item-icon-left">
        <i class="icon ion-android-contacts"></i> 사회복지학과
      </a>
      <a href="#/app/social" class="item item-icon-left">
        <i class="icon ion-android-contacts"></i> 사회과학부
      </a>
      <a href="#/app/broadcast" class="item item-icon-left">
        <i class="icon ion-videocamera"></i> 신문방송학과
      </a>
      <a href="#/app/operation" class="item item-icon-left">
        <i class="icon ion-podium"></i> 경영학부
      </a>
      <a href="#/app/contents" class="item item-icon-left">
        <i class="icon ion-paintbrush"></i> 디지털컨텐츠학과
      </a>
      <a href="#/app/computer" class="item item-icon-left">
        <i class="icon ion-monitor"></i> 컴퓨터공학과(구 멀티미디어시스템공학과)
      </a>
      <a href="#/app/software" class="item item-icon-left">
        <i class="icon ion-code"></i> 소프트웨어공학과
      </a>
      <a href="#/app/glocal" class="item item-icon-left">
        <i class="icon ion-earth"></i> 글로컬IT학과
      </a>
      <a href="#/app/communication" class="item item-icon-left">
        <i class="icon ion-wifi"></i> 정보통신공학과
      </a>
    </div>
  </ion-content>
</ion-view>
