<ion-view view-title="강의 계획서" hide-back-button="true">

  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/syllabus" nav-clear><i class="icon ion-ios-arrow-left"></i></a>
  </ion-nav-buttons>

  <ion-content>

        <!--1번 페이지-->
          <div class="bar bar-dark">
            <h1 class="title">강의 기본정보</h1>
          </div>
          <div class="item item-divider"> 강의 기본정보 </div>
          <div class="has-header">
            <div class="row">
              <div class="col" style="FONT-WEIGHT: bold;"> {{about.subject}} </div>
            </div>
            <div class="row">
              <div class="col"> 연도-학기 </div>
              <div class="col"> {{about.year_semester}} </div>
            </div>
            <div class="row">
              <div class="col"> 이수구분 </div>
              <div class="col"> {{about.type}} </div>
            </div>
            <div class="row">
              <div class="col"> 학점(이론-실습) </div>
              <div class="col"> {{about.credits}} </div>
            </div>
            <div class="row">
              <div class="col"> 담당교수 </div>
              <div class="col"> {{about.profesor}} </div>
            </div>
            <div class="row">
              <div class="col"> 강의실 </div>
              <div class="col"> {{about.location}} </div>
            </div>
            <div class="row">
              <div class="col"> 강의시간 </div>
              <div class="col"> {{about.time}} </div>
            </div>
            <div class="row">
              <div class="col"> 등급제 </div>
              <div class="col"> {{about.grade_type}} </div>
            </div>
          </div>
        </div>
        <!--2번 페이지-->
          <div class="bar bar-dark">
            <h1 class="title">강의정보</h1>
          </div>
          <div class="item item-divider"> 강의 기본정보 </div>
          <div class="has-header">
            <div class="row">
              <div class="col"> 교수님 연구실 </div>
              <div class="col"> {{info.lab}} </div>
            </div>
            <div class="row">
              <div class="col"> 연구실 전화번호 </div>
              <div class="col"> <a href="tel:{{info.lab_phone}}" class="button button-positive"> {{info.lab_phone}}  <i class="icon ion-ios-telephone"> </i> </a> </div>
              <!--<div class="col"> <a href="sms:{{info.lab_phone}}" class="button button-positive"> {{info.lab_phone}}  <i class="icon ion-ios-telephone"> </i> </a> </div>-->
            </div>
            <div class="row">
              <div class="col"> e-mail </div>
              <div class="col"> <a href="mailto:{{info.email}}" class="button button-positive"> {{info.email}}  <i class="icon ion-ios-email"> </i> </a> </div>
            </div>
            <div class="row">
              <div class="col"> 연락처 </div>
              <!--<div class="col"> <a href="tel:{{info.phone}}" class="button button-positive"> {{info.lab_phone}}  <i class="icon ion-ios-telephone"> </i> </a> </div>-->
              <div class="col"> <a href="sms:{{info.phone}}" class="button button-positive"> {{info.phone}}  <i class="icon ion-ios-telephone"> </i> </a> </div>
            </div>
            <div class="row">
              <div class="col"> 홈페이지 </div>
              <div class="col"> {{info.homepage}} </div>
            </div>
            <div class="row">
              <div class="col"> 면담 가능시간 </div>
              <div class="col"> {{info.available_time}} </div>
            </div>
            <div class="row">
              <div class="col" style="FONT-WEIGHT: bold;"> 수업목표 </div>
            </div>
            <div class="row">
              <div class="col"> {{info.goal}} </div>
            </div>
            <div class="row">
              <div class="col" style="FONT-WEIGHT: bold;"> 수업방식 </div>
            </div>
            <div class="row">
              <div class="col" style="FONT-WEIGHT: bold;"> 개요 </div>
              <div class="col col-80"> {{info.lecture_manner.outline}} </div>
            </div>
            <div class="row">
              <div class="col" style="FONT-WEIGHT: bold;"> 방식 </div>
              <div class="col col-80"> {{info.lecture_manner.manner}} </div>
            </div>
            <div class="row">
              <div class="col" style="FONT-WEIGHT: bold;"> 기자재 </div>
              <div class="col col-80"> {{info.lecture_manner.devices}} </div>
            </div>
            <div class="row">
              <div class="col" style="FONT-WEIGHT: bold;"> 평가 기준 </div>
            </div>
            <div class="row">
              <div class="col"> {{info.evaluation_criteria}} </div>
            </div>
            <div class="row">
              <div class="col" style="FONT-WEIGHT: bold;"> 주교재와 참고문헌 </div>
            </div>
            <div class="row">
              <div class="col"> {{info.materials}} </div>
            </div>
            <div class="row">
              <div class="col" style="FONT-WEIGHT: bold;"> 유의사항 </div>
            </div>
            <div class="row">
              <div class="col"> {{info.note}} </div>
            </div>
          </div>
        </div>
        <!--3번 페이지-->
          <div class="bar bar-dark">
            <h1 class="title">주별진도</h1>
          </div>
          <div class="item item-divider"> 강의 기본정보 </div>
          <div class="has-header">

            <div class="row" ng-repeat="detail in details">
              <div class="row">
                <div class="col"> {{detail.week}} <br> {{detail.details}} </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
