<ion-view view-title="강의 계획서" hide-back-button="true">

  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/syllabus3" nav-clear><i class="icon ion-ios-arrow-left"></i></a>
  </ion-nav-buttons>

  <ion-content>

    <!--1번 페이지-->
    <div class="bar bar-dark">
      <h1 class="title">강의 정보</h1>
    </div>
    <div class="item item-divider"> 강의 기본정보 </div>
    <div class="has-header">
      <div class="row">
        <div class="col" style="FONT-WEIGHT: bold;"> {{syllabuss.GwamogKorNm}} </div>
      </div>
      <div class="row">
        <div class="col"> 연도-학기 </div>
        <div class="col"> {{syllabuss.Yy}} - {{syllabuss.HaggiNm}} </div>
      </div>
      <div class="row">
        <div class="col"> 이수구분 </div>
        <div class="col"> {{syllabuss.IsuGbNm}} </div>
      </div>
      <div class="row">
        <div class="col"> 학점(이론-실습) </div>
        <div class="col"> {{syllabuss.IronSisu}} </div>
      </div>
      <div class="row">
        <div class="col"> 담당교수 </div>
        <div class="col"> {{syllabuss.ProfKorNm}} </div>
      </div>
      <div class="row">
        <div class="col"> 수강가능학년 </div>
        <div class="col"> {{syl1}}학년 </div>
      </div>
      <div class="row">
        <div class="col"> 성적부여방식 </div>
        <div class="col"> {{syllabuss.SeongjeogGbNm}}({{syllabuss.SjSanchulGbNm}}) </div>
      </div>
      <div class="row">
        <div class="col"> 강의실 / 수업시간</div>
      </div>
      <div class="row">
        <div class="col"> {{syllabuss.Times}} </div>
      </div>
    </div>
    </div>
    <!--2번 페이지-->
    <div class="bar bar-dark">
      <h1 class="title">담당 교수 정보</h1>
    </div>
    <div class="item item-divider"> 강의 기본정보 </div>
    <div class="has-header">
      <div class="row">
        <div class="col"> 교수명 </div>
        <div class="col"> {{syllabuss.ProfKorNm}} </div>
      </div>
      <div class="row">
        <div class="col"> 교수님 연구실 </div>
        <div class="col"> {{syllabuss['연구실']}} </div>
      </div>
      <div class="row">
        <div class="col"> 연구실 전화번호 </div>
        <div class="col"> <a href="tel:{{syllabuss['전화번호']}}" class="button button-positive"> {{syllabuss['전화번호']}} </a> </div>
        <!--<div class="col"> <a href="sms:{{syllabuss.lab_phone}}" class="button button-positive"> {{syllabuss.lab_phone}}  <i class="icon ion-ios-telephone"> </i> </a> </div>-->
      </div>
      <div class="row">
        <div class="col"> e-mail </div>
        <div class="col"> <a href="mailto:{{syllabuss['이메일']}}" class="button button-positive"> {{syllabuss['이메일']}} </a> </div>
      </div>
      <div class="row">
        <div class="col"> 연락처 </div>
        <!--<div class="col"> <a href="tel:{{syllabuss.phone}}" class="button button-positive"> {{syllabuss.lab_phone}}  <i class="icon ion-ios-telephone"> </i> </a> </div>-->
        <div class="col"> <a href="sms:{{phone}}" class="button button-positive"> {{syllabuss['휴대전화번호']}} </a> </div>
      </div>
      <div class="row">
        <div class="col"> 상담 가능시간 </div>
        <div class="col"> {{syllabuss['상담가능시간']}} </div>
      </div>
    </div>
    <div class="bar bar-dark">
      <h1 class="title">과목 정보</h1>
    </div>
    <div class="item item-divider"> 강의 기본정보 </div>
    <div class="has-header">
      <div class="row">
        <div class="col" style="FONT-WEIGHT: bold;"> 수업목표 </div>
      </div>
      <div class="row">
        <div class="col"> {{syllabuss['교과목개요']}} </div>
      </div>
      <div class="row">
        <div class="col" style="FONT-WEIGHT: bold;"> 학습 목표 </div>
      </div>
      <div class="row">
        <div class="col"> {{syllabuss['학습목표']}} </div>
      </div>
      <div class="row">
        <div class="col" style="FONT-WEIGHT: bold;"> 수업내용 </div>
      </div>
      <div class="row">
        <div class="col"> {{syllabuss['수업내용']}} </div>
      </div>
      <div class="row">
        <div class="col" style="FONT-WEIGHT: bold;"> 선수 과목 </div>
      </div>
      <div class="row">
        <div class="col"> {{syllabuss['선수과목']}} </div>
      </div>
      <div class="row">
        <div class="col" style="FONT-WEIGHT: bold;"> 교재와 참고문헌 </div>
      </div>
      <div class="row">
        <div class="col"> {{syllabuss['교재와참고문헌']}} </div>
      </div>
      <div class="row">
        <div class="col" style="FONT-WEIGHT: bold;"> 수업 진행 방법 </div>
      </div>
      <div class="row">
        <div class="col"> {{syllabuss['수업진행방법']}} </div>
      </div>
      <div class="row">
        <div class="col" style="FONT-WEIGHT: bold;"> 참고 사항 </div>
      </div>
      <div class="row">
        <div class="col"> {{syllabuss['참고사항']}} </div>
      </div>
      <div class="row">
        <div class="col" style="FONT-WEIGHT: bold;"> 평가 방법 </div>
      </div>
      <div class="row" ng-repeat="a in assessment">
        <div class="col col-10"> {{a['평가항목']}} </div>
        <div class="col col-10"> {{a['비율']}}% </div>
        <div class="col col"> {{a['평가방식']}} </div>
        <div class="col col-50"> {{a['학습방법']}} </div>
      </div>
    </div>
    <!--3번 페이지-->
    <div class="bar bar-dark">
      <h1 class="title">주별진도</h1>
    </div>
    <div class="item item-divider"> 강의 기본정보 </div>
    <div class="has-header">

      <div class="row" ng-repeat="w in weekly track by w.K">
        <div class="row" style="border: 1px solid; border-collapse: collapse; ">
          <div class="col col-10"> {{w.K}}주 </div>
          <div class="col col-40"> {{w.C1}} </div>
          <div class="col col-25"> {{w.C2}} </div>
          <div class="col col-25"> {{w.C3}} </div>
        </div>
      </div>

    </div>

    </ion-scroll>
  </ion-content>
</ion-view>
