<ion-view view-title="구 강의 계획서 조회" hide-back-button="true">

  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/class" nav-clear><i class="icon ion-ios-arrow-left"></i></a>
  </ion-nav-buttons>

  <ion-content class="padding">

    <div ng-controller="SSEA104 as con" ng-init="con.initialize();">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form" ng-enter="con.getList()">
            <div class="form-group col-sm-3">
              <search:header for="Yy">년도</search:header>
              <search:yy ng-model="con.params.Yy"></search:yy>
            </div>
            <div class="form-group col-sm-3">
              <search:header for="Haggi">학기</search:header>
              <sam:forestCode ng-model="con.params.Haggi" group="CZ01"></sam:forestCode>
            </div>
            <div class="form-group col-sm-3">
              <search:text name="GwamogParam" header="과목" ng-model="con.params.GwamogParam"></search:text>
            </div>
            <div class="form-group col-sm-3">
              <search:text name="SosogParam" header="개설소속" ng-model="con.params.SosogParam"></search:text>
            </div>

            <div class="form-group col-sm-3">
              <search:text name="SosogParamProfParam" header="대표교수" ng-model="con.params.ProfParam"></search:text>
            </div>
          </div>

          <div class="col-sm-3 pull-right text-right">
            <search:go ng-click="con.getList();"></search:go>
          </div>
        </div>
      </div>

      <div>
        <table id="tblList" class="table table-bordered table-hover">
          <colgroup>
            <col style="width:10%;" />
            <col style="width:5%;" />
            <col style="width:30%;" />
            <col />
            <col style="width:20%;" />
            <col style="width:5%;" />
          </colgroup>
          <thead>
            <tr>
              <th>과목코드</th>
              <th>분반</th>
              <th>과목명</th>
              <th>소속</th>
              <th>담당교수</th>
              <th>작성</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="s in con.p.p1.data" ng-class="{ 'pointer' : s.PlanIdx != null && s.SueobGyehoegYn == 'Y'}" ng-click="s.PlanIdx != null && s.SueobGyehoegYn == 'Y' ? con.openDetail({ActionMode: 'R', Yy: s.Yy, Haggi: s.Haggi, GwamogCd : s.GwamogCd, Bunban : s.Bunban }) : ''">
              <td>{{ s.GwamogCd }}</td>
              <td>{{ s.Bunban }}</td>
              <td>{{ s.GwamogKorNm }}</td>
              <td>
                {{ s.GaeseolDaehagNm }} {{ s.GaeseolHagbuNm }} <span ng-if="s.GaeseolHagbuNm != s.GaeseolSosogNm">{{ s.GaeseolSosogNm }}</span>
              </td>
              <td> <span ng-if="s.ProfNo">{{ s.ProfKorNm }} ({{ s.ProfNo }})</span></td>
              <td>
                <yn ng-if="s.SueobGyehoegYn == 'Y'" is-yn="true" text="s.PlanIdx != null"></yn>
                <span ng-if="s.SueobGyehoegYn != 'Y'">해당없음</span>
              </td>
            </tr>
            <tr table:empty="6" ng-model="con.p.p1"></tr>
          </tbody>
        </table>
        <paging ng-model="con.p.p1"></paging>
      </div>
    </div>

  </ion-content>

</ion-view>
