<ion-view view-title="학사 일정 조회" hide-back-button="true">

  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/myPage" nav-clear><i class="icon ion-ios-arrow-left"></i></a>
  </ion-nav-buttons>

  <ion-content>
    <ul class="list">
      <li class="item">
        <div class="col" style="FONT-WEIGHT: bold;"> {{month1}}월 학사 일정 </div>
        <div class="row" ng-repeat="calendar in calendar1">
          <div class="col"> {{calendar.content}} </div>
          <div class="col"> {{calendar.period}} </div>
        </div>
      </li>
      <li class="item">
        <div class="col" style="FONT-WEIGHT: bold;"> {{month2}}월 학사 일정 </div>
        <div class="row" ng-repeat="calendar in calendar2">
          <div class="col"> {{calendar.content}} </div>
          <div class="col"> {{calendar.period}} </div>
        </div>
      </li>
      <li class="item">
        <div class="col" style="FONT-WEIGHT: bold;"> {{month3}}월 학사 일정 </div>
        <div class="row" ng-repeat="calendar in calendar3">
          <div class="col"> {{calendar.content}} </div>
          <div class="col"> {{calendar.period}} </div>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
