<ion-view view-title="마이 페이지" hide-back-button="false">
  <ion-content>
    <div class="list">
      <a href="#/app/credits" class="item item-icon-left">
        <i class="icon ion-connection-bars"></i> 현재 이수 학점
      </a>
      <a href="#/app/attendance" class="item item-icon-left">
        <i class="icon ion-android-walk"></i> 나의 수업 출결 현황
      </a>
      <!--<a href="#/app/consulting" class="item item-icon-left">
        <i class="icon ion-clipboard"></i> 나의 상담 이력 조회
      </a>-->
      <!--<a href="#/app/calendar" class="item item-icon-left">
        <i class="icon ion-calendar"></i> 학사 일정 조회
      </a>-->
      <!--<a href="#/app/food" class="item item-icon-left">
        <i class="icon ion-pizza"></i> 학식 메뉴 조회
      </a>-->
    </div>
    <p style="TEXT-ALIGN: center;"> ****** </p>
    <p style="TEXT-ALIGN: center;"> 이 앱은 성공회대학교의 공식 인증 앱이 아닙니다. </p>
    <p style="TEXT-ALIGN: center;"> 사용중 발생하는 모든 책임은 사용자 본인에게 있습니다. </p>
    <p style="TEXT-ALIGN: center;"> ****** </p>
    <p style="TEXT-ALIGN: center;"> Create by SSS </p>
    <p style="TEXT-ALIGN: center;"> ****** </p>
    <p style="TEXT-ALIGN: center;"> 앱 디자인 하실 분 연락주세요. </p>
    <p style="TEXT-ALIGN: center;"> 개발,보안에 관심이 있으신분 연락주세요. </p>
    <p style="TEXT-ALIGN: center;"> ****** </p>
    <p style="TEXT-ALIGN: center;"> 건의사항이나 문의사항이 있을시 </p>
    <p style="TEXT-ALIGN: center;"> bghgu@naver.com으로 메일 보내시거나 </p>
    <p style="TEXT-ALIGN: center;"> 카톡아이디 bghgu 으로 연락주세요. </p>

  </ion-content>
</ion-view>
