<ion-view view-title="기타 과정 안내" hide-back-button="true">

  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/app/curriculum" nav-clear><i class="icon ion-ios-arrow-left"></i></a>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
      <a href="#/app/socialParticipation" class="item item-icon-left">
        <i class="icon ion-briefcase"></i> 사회진출지원실 ‘직무현장실습’ 교과목 안내
      </a>
      <a href="#/app/continuingEducation" class="item item-icon-left">
        <i class="icon ion-edit"></i> 평생교육사과정 안내
      </a>
      <a href="#/app/socialService" class="item item-icon-left">
        <i class="icon ion-ios-people"></i> 사회봉사 안내
      </a>
      <a href="#/app/overseasEducation" class="item item-icon-left">
        <i class="icon ion-android-plane"></i> 해외교육프로그램 안내
      </a>
      <a href="#/app/prayerMeeting" class="item item-icon-left">
        <i class="icon ion-android-cloud"></i> 기도모임 안내
      </a>
      <a href="#/app/NGO" class="item item-icon-left">
        <i class="icon ion-earth"></i> NGO 연계전공
      </a>
      <a href="#/app/culturalPlanning" class="item item-icon-left">
        <i class="icon ion-images"></i> 문화기획 연계전공
      </a>
      <a href="#/app/teachingCourses" class="item item-icon-left">
        <i class="icon ion-edit"></i> 교직과정
      </a>
    </div>
  </ion-content>
</ion-view>

